<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flags Game</title>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comic+Sans+MS" rel="stylesheet">
    <link rel="stylesheet" href="../recursos/css/game.css" />
</head>
<body>
    <div class="container">
        <h3>
            Arrastre y suelte las monedas en sus respectivos valores de moneda
        </h3>
        <div class="draggable-objects"></div>
        <div class="drop-points"></div>
    </div>
    <div style="color:white; font-size: 24px; margin-left: 30px; margin-top: 30px;" class="timer">Tiempo restante: <span id="countdown">60</span></div>
    <div class="controls-container">
        <p class="result"></p>
        <button style="display: flex; justify-content: center; align-items: center; height: 100hv; margin-left: 200px;" id="start">Empezar Juego</button>
    </div>

    <script src="../recursos/pruebagame.js" ></script>
</body>
</html>